---
import astroLogoWhite from '../assets/aMlab_MARCA_mono_blanco.png';
import astroImage1 from '../assets/DSC08790.jpg';
import astroImage2 from '../assets/DSC08613.jpg';
import astroImage3 from '../assets/projecto-dispersor-vieiro.jpg';
import astroImage4 from '../assets/DSC09944.jpg';
import inst from '../assets/instagram.svg';
import youtube from '../assets/youtube.svg';
import linkdin from '../assets/linkedin.svg';
import logoPratDO from '../assets/20130222_logo_fondo.png';
import logoCampustTerra from '../assets/usc-campusterra.png';
import logoMerycse from '../assets/merycse.jpg';
import logoLugoRural from '../assets/diputa-lugo-rural.png';
import './styles.css';
const images = [
  { src: astroImage1.src, caption: 'Cantas bocas haberá que alimentar en A Mariña 2050?', place: ' Comedor do IES María Sarmiento en Viveiro' },
  { src: astroImage2.src, caption: 'E se a solución ao futuro do territorio está nas túas mans?', place: 'Escola de Hostalería no IES de Foz' },
  { src: astroImage3.src, caption: 'A diversidade alimentaria é a nosa forza. Cómo a protexemos?', place: 'Estación Agroecolóxica de Vieiro de Projecto Dispersor e Calará en Viveiro' },
  { src: astroImage4.src, caption: '"Pasado, presente e futuro: conectemos as historias que nos definen.', place: 'Produtores interxeracionais colleitando faba da IXP Faba de Lourenzá' },
];
---

<div id="container">
	<nav class="ama-nav">
		<div class="ama-nav-wrapper">
			<a href="https://amalab.es"><img src={astroLogoWhite.src} width="150"  alt="A Mariña Lab" /></a>
			<ul class="ama-sociales">
				<li><a href="https://www.instagram.com/amarinalab/" target="_blank"><span class="ama-icon"><img src={inst.src} alt="Instagram" /></span></li></a>
				<li><a href="https://www.youtube.com/@AMari%C3%B1alab" target="_blank"><span class="ama-icon"><img src={youtube.src} alt="Youtube" /></span></li></a>
				<li><a href="https://www.linkedin.com/showcase/a-mari%C3%B1a-lab/" target="_blank"><span class="ama-icon"><img src={linkdin.src} alt="Linkedin" /></span></li></a>
			</ul>
		</div>
	</nav>
	<main class="main">
		<section id="hero" class="hero">
			<div class="ama-cta">
				<hgroup>
					<h1>
						Cociñando A Mariña futura
					</h1>
					<h2>Porque alimentar o presente é construír o futuro</h2>
				</hgroup>
				<div class="cta-buttons">
					<a class="primary" href="https://docs.google.com/forms/d/e/1FAIpQLSdJfDeEmFgFun9jrdM4dkg1NPmKwTHINWTQa8r61DZgCp8sbg/viewform" target="_blank">Únete á transformación!</a>
					<a class="secundary" href="https://docs.google.com/forms/d/e/1FAIpQLSe4btIeK8pnN3fIJzAcVXpxSehnF_iiaBpmbRb-xXRgCLlBXw/viewform" target="_blank">Colabora como entidade</a>
				</div>
			</div>
			<div class="hero-image">
				{
					images.map((image) => (
						<div class="hero-carrusel relative w-full h-[400px] flex items-center justify-center overflow-hidden" style={`background-image: url(${image.src});`}>
							<div class="ama-overlight"></div>
							<div id="carousel-caption" class="caption-image absolute bottom-4 left-4 bg-black bg-opacity-50 text-white p-4 rounded">
								<p>{image.caption}</p>
								<span>{image.place}</span>
							</div>
						</div>
					))
				}
			</div>
		</section>
	</main>
</div>
<footer>
	<div class="ama-footer">
		<div class="ama-patro">
			<span>Promove</span>
			<img src={logoPratDO.src} alt="">
		</div>
		<div class="ama-colabora">
			<span>Colabora</span>
			<div class="logos">
				<img src={logoCampustTerra.src} alt="">
				<img class="logoMerycse" src={logoMerycse.src} alt="">
				<img src={logoLugoRural.src} alt="">
			</div>
		</div>
	</div>
</footer>
<script>

let index = 0;
const carousels:any = document.querySelectorAll(".hero-carrusel");
const captions:any = document.querySelectorAll("#carousel-caption");
const firstImage = new Image();
firstImage.src = carousels[0].style.backgroundImage.replace(/url\("|"\)/g, "");
firstImage.onload = () => {
  captions.forEach((caption:any) => caption.style.display = "block");
	document.querySelectorAll(".caption-image").forEach(caption => {
		caption.classList.add("visible");		
	});
  setInterval(updateCarousel, 6000);
};
function updateCarousel() {
  carousels.forEach((el:any, i:number) => {
    el.style.opacity = i === index ? "1" : "0";
  });
  index = (index + 1) % carousels.length;
}
</script>
